* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

a {
    text-decoration: none;
}

.center {
    padding: 0 calc(50% - 570px);
}


/*HEADER*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(236, 236, 236, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.header_left,
.header_right {
    display: flex;
    align-items: center;
}
.header_form{
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    overflow: hidden;
    margin-left: 37px;
}
.searchBrowse {
    height: inherit;
    padding: 12px 16px;
    font-size: 14px;
    color: #222222;
    background-color: #f9f9f9;
    box-sizing: border-box;
    border-right: 1px solid #e6e6e6;
}

input {
    height: inherit;
    padding: 0 3px;
    border: none;
    outline: none;
}

button {
    height: inherit;
    padding: 0 8px;
    border: 0;
    background: none;
    border-left: 1px solid #e6e6e6;
}

.header_cart {
    margin-right: 26px;
}

.button {
    width: 130px;
    height: 34px;
    background-color: #f16d7f;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 33px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 27px;
    font-weight: 300;
    color: #222222;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo span {
    color: #f16d7f;
    font-weight: 400;
} 

.logo_img {
    margin-right: 13px;
}


/*LOGO*/

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu_list:hover {
    outline: 2px solid #222222;
}

.menu_link {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}


/*PROMO*/
.line {
    display: flex;
    border-left: 12px solid #f16d7f;
    margin-left: 20px;
    padding-left: 10px;
    
    
}
.promo {
    background-color: #e8e8e8;
    height: 613px;
    background-image: url(img/promo.png);
    background-position: center -51px;
    background-repeat: no-repeat;
}

.brtxt {
    top: 50px;
    clear: both;
    font-weight: 900;
    color: #222222;
    letter-spacing: 0.03em;
    padding-top: 228px;
    text-align: left;
}

.the {
    font-size: 60px;
}

.ofl {
    font-size: 40px;
}


/*OFFERS*/

.offer {
    display: flex;
    justify-content: space-between;
    padding-top: 98px;
}

.offer_block {
    width: 542px;
    height: 542px;
    background-color: #ccc;
    margin-bottom: 20px;
}

.offer_block_mini {
    height: 261px;
}

.of1 {
    background-image: url(img/of1.png);
}

.of2 {
    background-image: url(img/of3.png);
}

.of3 {
    background-image: url(img/of2.png);
}

.of4 {
    background-image: url(img/of4.png);
}

.of {
    display: inline-block;
    height: 82px;
    font-size: 18px;
    font-weight: 900;
    color: #222222;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 27px;
    padding: 16px 18px;
    background-color: #ffffff;
    text-align: left;
}

.pink {
    font-size: 30px;
    font-weight: 900;
    color: #f16d7f;
    letter-spacing: 0.03em;
}


/*FUTURED ITEMS*/

section {
    text-align: center;
    letter-spacing: 0.03em;
    padding: 60px;
}

.bo {
    font-size: 30px;
    font-weight: bold;
    color: #222222;
    line-height: 54px;
}

.lo {
    font-size: 14px;
    color: #9f9f9f;
}

.blocks {
    margin: 0 auto;
    width: 1139px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.item {
    width: 263px;
    position: relative;
    margin-bottom: 46px;
}

.item_img {
    width: 100%;
}

.down {
    font-size: 14px;
    color: #222222;
    text-align: left;
    text-transform: uppercase;
    padding: 19px 15px;
}

.red {
    font-size: 16px;
    font-weight: bold;
    margin-top: 16px;
    color: #f16d7f;
}

.item_add {
    position: absolute;
    top: 97px;
    left: 70px;
    display: none;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 123px;
    border: 1px solid #ffffff;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
}

.item:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.item:hover .item_img {
    filter: brightness(40%);
}

.item:hover .item_add {
    display: flex;
}

.item_add:hover {
    box-shadow: 0px 0px 5px 0px white;
}

.button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 113px;
    padding: 15px;
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0.03em;
    line-height: 32px;
}


/*SNOW*/

.snow {
    margin: 0 auto 97px auto;
    width: 1140px;
    height: 529px;
}

.coat {
    float: left;
    height: 529px;
    width: 767px;
    background-image: url(img/coat.png);
    background-repeat: no-repeat;
    font-size: 54px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.03em;
}

.fw {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.03em;
}

.forw {
    position: relative;
    left: 39px;
    top: 146px;
}


/*=========================================*/

.grey {
    float: right;
    background-color: #222224;
    width: 373px;
    height: 529px;
    padding: 14px 0;
}

.grey div {
    width: 352px;
    padding: 48px 0 0 105px;
    background-position: 29px 48px;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: 300;
    color: #fbfbfb;
    letter-spacing: 0.03em;
    line-height: 24px;
}

.sp_of_1 {
    background-image: url(img/car.png);
}

.sp_of_2 {
    background-image: url(img/sale.png);
}

.sp_of_3 {
    background-image: url(img/corona.png);
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 24px;
}


/*OCEAN*/

.container {
    width: 1140px;
    margin: 0 auto;
}

.subscribeWrap {
    margin-top: 100px;
    height: 438px;
    background: url("../assets/img/subscribe.jpg") no-repeat center bottom, #ccc;
    background-blend-mode: overlay;
    background-size: cover;
}

.subscribe {
    display: flex;
    height: inherit;
}

.reviews, .subscribeRight {
    width: calc(100% - 1px);
}

.reviews {
    display: flex;
    align-items: center;
}

.reviewUnit {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.reviewUnitLeft {
    width: 83px;
}

.reviewUnitRight {
    width: 386px;
}

.reviewUnitRight blockquote {
    margin: 0;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    font-weight: 700;
}

.reviewName {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #f16d7f;
}

.reviewFrom {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
}

.reviewsSwitch {
    width: 140px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.reviewsSwitch div {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}

.reviewsSwitch div:hover {
    background-color: #f16d7f;
    cursor: pointer;
}

.subscribeDivider {
    width: 1px;
    background: #e3e3e3;
}

.subscribeRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribeRightHead {
    font-size: 24px;
    text-transform: uppercase;
    color: #222224;
}

.subscribeRightText {
    margin: 10px 0 35px;
}

.subscribeForm {
    height: 46px;
}

.subscribeForm input {
    height: inherit;
    width: 334px;
    border: none;
    outline: none;
    padding: 0 28px;
    font-weight: 700;
    background-color: #e1e1e1;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    float: left;
}

.subscribeForm button {
    background-color: #f16d7f;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    color: white;
    border: none;
    height: inherit;
    padding: 0 20px;
    outline: none;
    cursor: pointer;
}

/*FOOTER*/
footer{
    margin-top: 100px !important;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.lox{
    height: 378px;
}


.footertxt{
    margin-top: 31px;
    width: 427px;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.footer_column {
    padding-top: 15px;
}

.footer_column h2 {
    margin: 0 0 30px;
    font-size: 18px;
    font-weight: 700;
    color: #f16d7f;
}

.footer_column a {
    display: block;
    color: #898989;
    font-size: 16px;
    text-decoration: none;
}

.footer_column a:hover {
    color: #f16d7f;
}

.footer_column a:not(:last-child) {
    margin-bottom: 25px;
}

/*LAST FOOTER*/

.footer {
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyrightsLeft{
    color: #7a7a7a;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.4px;
    margin-left: 269px;
}

.copyrightsRight {
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-right: 238px;
}

.copyrightsRight a {
    text-decoration: none;
    color: inherit;
}

.copyrightsRight i {
    width: 32px;
    height: 32px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.copyrightsRight i:hover {
    color: white;
    background: #f16d7f;
}